
inventarios_ventas/inventarios_ventas/__pycache__/settings.cpython-313.pyc
inventarios_ventas/gestion/__pycache__/urls.cpython-313.pyc
inventarios_ventas/gestion/__pycache__/views.cpython-313.pyc
inventarios_ventas/inventarios_ventas/__pycache__/settings.cpython-313.pyc
inventarios_ventas/inventarios_ventas/__pycache__/urls.cpython-313.pyc
inventarios_ventas/gestion/__pycache__/serializers.cpython-313.pyc
inventarios_ventas/gestion/__pycache__/urls.cpython-313.pyc
inventarios_ventas/gestion/__pycache__/views.cpython-313.pyc
inventarios_ventas/inventarios_ventas/__pycache__/settings.cpython-313.pyc
inventarios_ventas/inventarios_ventas/__pycache__/urls.cpython-313.pyc
inventarios_ventas/gestion/__pycache__/serializers.cpython-313.pyc
